.browse-section {
    padding: 0rem 0rem;
}
.browse-controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* position: sticky;
    top: 1rem; */
    background-color: #232323;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.browse-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    grid-gap: 2rem;
}

.browse-input {
    background-color: rgba(255, 255, 255, 0.096);
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 100%;
    color: white;
    border: none;
    font:  inherit;
    margin-right: 1rem;
}

.browse-input:focus {
    /* border: none; */
    outline: none;
}

.event-page {
    background-color: #232323;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 4rem;
    width: auto;
}

.event-card {
    background-color: #232323;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    min-width: 5rem;
}

.image-overlay {}

.card-header-info {}

.event-img {
    width: 100%;
}

.author-wrap {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author-image {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: white;
    margin-right: 0.5rem;
}

.event-title {
    margin-top: 1rem;
}

.event-subtitle {
    color: gray;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
}
.card-tags > * {
    padding: 0.5rem 1rem;
    background-color: indigo;
    border-radius: 5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    grid-column: 1 / 3;
}

.back-button {
    max-width: 4rem;
    margin-bottom: 2rem;
}

.select-tickets {
    grid-column: 1 / 3;
    display: flex;
    margin-top: 1rem;
}

.select-tickets-wrapper {
    grid-column: 1 / 3;
}

.btn-disabled {
    background-color: grey !important;
    cursor: not-allowed;
}

.no-text-wrap {
    white-space: nowrap;
}

.text-style-muted {
    opacity: 0.5;
}

.metrics-info {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2rem;
    min-width: 20rem;
}

.metrics-heading {
    /* padding-top: 1rem; */
}

.attendees-list {
    max-height: 11rem;
    overflow-y: scroll;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.metrics-visibility-label {
    text-align: center;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.158);
}

.event-flex-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-name, .user-name {
    margin-left: 0.25rem;
    color: rgb(255, 255, 0);
}

@media only screen and (max-width: 1200px) {

    .browse-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .event-page {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {

    .browse-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .event-page {
        display: flex;
        flex-direction: column;
    }

    .event-flex-layout {
        display: flex;
        flex-direction: column;
    }
}

.w-100 {
    width: 100%;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 2rem;
    grid-gap: 1rem
}

.review-card {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;

}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.review-header > * {
    margin: 0rem;
}

.review-body {

    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.rating {

}