.sidebar {
    position: fixed;
    left: 0;
    height: 96vh;
    padding: 1rem;
}

.emojiIcon {
    margin-left: 0.3rem;
}

.container-sidebar {
    margin: 0rem 2rem 0rem 21rem;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-spacer {
    flex-grow: 1;
}

.pro-menu {
    height: 100%;
}

.emojiIcon {

    font-size: 1.75rem !important;
}
.pro-icon-wrapper {
    padding: 1rem;
}

.pro-menu-item {

    font-size: 1.5rem !important;
    margin-bottom: 0.5rem;
}

.sidebar-selectedtab-indicator {

    height: 100%;
    width: 0.3rem;
    background-color: rgb(255, 255, 0);
    border-radius: 0.2rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
}