/* CSS classes */
.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar + section {
}

h1, h2, h3, h4 {
  margin: 0;
}

.button {
  cursor: pointer;
  font-family: inherit;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: 700;
  color: white;
  background: #7C00F8;
  border-radius: 0.2rem;
  border: none;
  transition: background-color 0.3s;
}

.button-secondary {
  background: #00000000;
}

.button:hover {
  background: #6200c4;
}

.button-secondary:hover {
  background: #2b2b2b;
}

.container {
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem;
}

section, .section {
  width: 100vw;
  padding: 2rem 0rem;
}


.btn {
  font-weight: 700;
  border: none;
  padding: 0.75rem 2rem;
  margin: 0.25rem;
  border-radius: 50rem;
}

@media only screen and (max-width: 600px) {

  .landing-grid {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
  }

  .landing-content {

      align-items: center;
  }


}